@model DesignYourHome.Models.ImageViewModels.AddImageViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="body-content-heading">Save to Ideaboard</h2>
<hr>
<div class="row">
    <form asp-action="Save">
        <input type="hidden" asp-for="Image.ImageId" />
        <input type="hidden" asp-for="Image.Source" />
            <img src="@Model.Image.Source">
        </div>
        
<div class="choosedropdown">
    <div class="dropdown-content">

        @Html.DropDownList(
            "chosenIdeaboard",
            @Model.IdeaboardId,
            new
            {
                @name = "Ideaboard.IdeaboardId"
            }
        )
    </div>
        </div>
    <div class="form-group">
        <div class="selectBox">

            <input type="submit" value="Save" class="btn btn-default purpleBtn" />
            <a class="btn btn-default" asp-action="Index">Cancel</a>
        </div>
    </div>
    </form>
</div>

