@model DesignYourHome.Models.ImageViewModels.IdeaboardsViewModel

@{
    ViewData["Title"] = "Index";
}

<h2 class="body-content-heading"><i class="material-icons purple md-36"></i>My Designs</h2>


                <a class="purpleText" style="font-size: 20px" asp-action="Create">
                    <i class="material-icons purple md-75" style="margin-top: 25%"></i>
                    <h4>New Design</h4>
                </a>
            @foreach (var item in @Model.Ideaboards)
            {<ul>
                <li>
                    <h4 class="view-design" style="margin-top: .08%">@Html.DisplayFor(modelItem => item.Title)</h4>
                    <a class="btn btn-danger" asp-action="Details" asp-route-id="@item.IdeaboardId">View Design</a>
                     </li>
    </ul>
                      
            }

   
