@model DesignYourHome.Models.ContractorViewModels.CreateContractorViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create a Contractor Profile</h2>

<hr />
<a class="showing purpleText" asp-action="Index"><i class="material-icons purple"></i>Back to Contractors</a>
<br>
<br>
<form asp-action="Create">
    <div class="form-horizontal">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Contractor.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contractor.Name" class="form-control" />
                <span asp-validation-for="Contractor.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contractor.City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contractor.City" class="form-control" />
                <span asp-validation-for="Contractor.City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contractor.State" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contractor.State" class="form-control" />
                <span asp-validation-for="Contractor.State" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contractor.PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contractor.PhoneNumber" class="form-control" />
                <span asp-validation-for="Contractor.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contractor.Website" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contractor.Website" class="form-control" />
                <span asp-validation-for="Contractor.Website" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contractor.CompanyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contractor.CompanyName" class="form-control" />
                <span asp-validation-for="Contractor.CompanyName" class="text-danger"></span>
            </div>
        </div>

    </div>
        <div class="form-group">
            <label asp-for="Services" class="col-md-2 control-label"></label>
            <div class="col-md-10">
       <select multiple asp-for="SelectedServices" class="form-control" asp-items="@Model.Services"></select>

     
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default purpleBtn btn-lg" />
            </div>
        </div>
    </div>
</form>

